<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Aker Retail</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.267926914538-8iukju92c4l0mvgighvmoejss5u2omob</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.267926914538-iebeer7hhhe9ajk46ubt9sllbfendoko</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Media usage for better experience</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendars usage for better experience</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts usage for better experience</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Motion usage for better experience</string>
	<key>NSLocationUsageDescription</key>
	<string>Location usage for better experience</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location usage for better experience</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion usage for better experience</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library  usage for better experience</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech Recognition usage for better experience</string>
	<key>OneSignal_app_groups_key</key>
	<string>group.com.akerfoods.retail.in.onesignal</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.claimsforce.segment.ENABLE_AMPLITUDE_INTEGRATION</key>
	<true/>
	<key>com.claimsforce.segment.TRACK_APPLICATION_LIFECYCLE_EVENTS</key>
	<true/>
	<key>com.claimsforce.segment.WRITE_KEY</key>
	<string>jCv2dxUkUddKCDPjd59EIeT0W5Lioepm</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
